/Lab1_Helloworld/nbproject/private/
/Lab1_helloworld/nbproject/private/
/Lab2assignment/nbproject/private/
/Lab2assignment/build/
/Infoclass/Lab3assignment/nbproject/private/
/Infoclass/Lab3assignment/build/
/Infoclass/Lab4assignment/nbproject/private/
/Infoclass/Lab4assignment/build/
